* {
  text-decoration: none !important;
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3);
}

* {
  text-decoration: none !important;
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3);
}

body {
  overflow-x: hidden;
  background-color: #121212;
}

body .color-default {
  color: #fff;
  opacity: .6;
}

body .root {
  height: 100vh;
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr auto;
      grid-template-rows: 1fr auto;
  -ms-grid-columns: auto 1fr;
      grid-template-columns: auto 1fr;
      grid-template-areas: "navbar main-view main-view"  "player player player";
}

body .nav-bar {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: navbar;
  background-color: rgba(0, 0, 0, 0.8);
  width: 230px;
  min-height: 0;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

body .nav-bar .nav-bar-header .logo {
  width: 131px;
  max-height: 40px;
  width: 79%;
}

body .nav-bar .navbar-nav {
  padding: 0 8px;
}

body .nav-bar .navbar-nav .nav-item a {
  border-radius: 4px;
  padding: 0 16px;
  height: 40px;
  color: #fff;
  opacity: .6;
  font-weight: 500;
}

body .nav-bar .navbar-nav .nav-item a:hover {
  opacity: 1;
}

body .nav-bar .navbar-nav .nav-item.active a {
  background-color: #282828;
  opacity: 1;
}

body .nav-bar .navbar-nav .nav-item img {
  font-size: 22px;
  margin-right: 16px;
}

body .player {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: player;
  background-color: #181818;
  height: 90px;
}

body #header #header-overflay {
  background-color: #000;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: background-color .25s;
  transition: background-color .25s;
  z-index: -1;
}

body .root-list {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-height: 0;
}

body .root-list .root-list-header h2 {
  font-size: 14px;
  color: #b3b3b3;
  -webkit-text-decoration: uppercase;
          text-decoration: uppercase;
  letter-spacing: .16em;
  margin-left: 24px;
  margin-bottom: 12px;
}

body .root-list .root-list-item {
  padding: 5px 24px;
  color: #fff;
  opacity: .6;
  font-weight: 500;
  cursor: pointer;
}

body .root-list .root-list-item:hover {
  opacity: 1;
}

body .root-list .root-list-item .root-list-icon {
  width: 32px;
  height: 32px;
  background-color: #fff;
  margin-right: 16px;
}

body .root-list .root-list-item .root-list-icon.heart {
  background: linear-gradient(135deg, #450af5, #c4efd9);
}

body .root-list .root-list-divider {
  margin: 8px 24px;
  background-color: #282828;
  border: none;
  height: 1px;
}

body .play-list-scroll {
  padding: 8px 24px !important;
}

body .play-list-scroll li a {
  color: #fff;
  opacity: .6;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  height: 32px;
}

body .play-list-scroll li a:hover {
  opacity: 1;
}

body .navbar-footer {
  background-color: #000;
}

body .navbar-footer a {
  padding: 5px 24px;
  color: #fff;
  opacity: .6;
  height: 40px;
}

body .navbar-footer a img {
  padding-right: 16px;
}

body .navbar-footer a:hover {
  opacity: 1;
}

body .top-bar {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: main-view;
  height: 60px;
  z-index: 2;
}

body .top-bar header {
  padding: 16px 48px 16px 32px;
}

body .top-bar header .icons-action-left button {
  margin-right: 2px;
  border: none;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
}

body .top-bar header .menu .avatar {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

body .top-bar header .menu button {
  border-radius: 23px;
  height: 32px;
  border: none;
  color: #fff;
  padding: 2px;
  background-color: rgba(0, 0, 0, 0.7);
}

body .top-bar header .menu button:hover {
  background-color: #282828;
}

body .top-bar header .menu button span {
  margin-left: 8px;
  font-weight: 700;
  font-size: 12px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 110px;
}

body .top-bar header .menu .dropdown-menu {
  background-color: #282828;
  margin-top: 8px;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.7);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.7);
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

body .top-bar header .menu .dropdown-menu .dropdown-item {
  color: #fff;
  opacity: .6;
  padding: 3px 20px;
  line-height: 32px;
}

body .top-bar header .menu .dropdown-menu .dropdown-item:hover {
  opacity: 1;
  background-color: #333;
}

body .top-bar header .menu .dropdown-menu .dropdown-divider {
  height: 0;
  border-top: 1px solid #404040;
  margin: 0;
}

body .top-bar header .menu:hover .dropdown-menu, body .top-bar header .menu button {
  display: block;
  background-color: #282828;
}

body .main {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: main-view;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
  min-height: 0;
  overflow-y: scroll;
}

body .main .main-container {
  padding: 16px 32px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-height: 0;
}

body .main .margin-top {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 60px;
}

body .main .title {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -.04em;
  color: #fff;
}

body .main .subtitle {
  color: #fff;
  opacity: .6;
}

body .main .list {
  padding: 0px 7px;
}

body .main .list .card {
  padding: 20px 20px 16px;
  background-color: #282828;
  border-radius: 8px;
}

body .main .list .card .card-body {
  min-height: 62px;
}

body .main .list .card .card-title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: .24px;
  color: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;
}

body .main .list .card .card-text {
  font-size: 16px;
  line-height: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin-top: 4px;
  color: #fff;
  opacity: .6;
}

body .main .list .card .btn-play {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  position: absolute;
  right: 32px;
  bottom: 105px;
  opacity: 0;
}

body .main .list .card .btn-play button {
  color: #fff;
  background-color: #1db954;
  border-radius: 50%;
  border: none;
  width: 40px;
  height: 40px;
  padding: 0;
  font-size: 12px;
}

body .main .list .card .btn-play button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  cursor: default;
}

body .main .list .card .btn-play button img {
  padding: 12px;
}

body .main .list .card:hover > .btn-play {
  opacity: 1;
  -webkit-animation: rise .5s linear;
          animation: rise .5s linear;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

body .main .list .col-12 {
  padding-left: 8px;
  padding-right: 8px;
}

body .main .view-more {
  float: right;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: .1em;
  text-transform: uppercase;
  color: #fff;
  opacity: .6;
}

body footer {
  padding: 0 16px;
}

body footer .icon {
  width: 32px;
}

body footer .text span {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: .015em;
  text-align: left;
}

body footer .text label {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: .015em;
  color: #fff;
  text-align: left;
}

body footer .cover img {
  max-width: 56px;
  max-height: 56px;
}

body footer .play {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  border-radius: 30px;
  padding: 10px;
  background-color: #fff;
  width: 40x;
  height: 40px;
  font-size: 32px;
}

body footer .play:hover {
  -webkit-filter: brightness(1.6);
          filter: brightness(1.6);
  -webkit-transform: scale(1);
          transform: scale(1);
}

body footer .play:hover .icon-player {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

body footer .player-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: 900px;
}

body footer .player-center .player-center-controls {
  max-width: 224px;
  margin-bottom: 12px;
  margin: 0 auto;
}

body footer .progress-time {
  font-size: 12px;
  font-weight: 500;
  min-width: 40px;
  text-align: center;
}

body footer .progress-bar, body footer .progress {
  background-color: #535353;
  border-radius: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 4px;
  width: 100%;
}

body footer .progress {
  background-color: #b3b3b3;
  width: 40%;
}

body footer .slide {
  max-width: 700px;
  width: 100%;
  position: absolute;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 5px;
  outline: none;
  height: 5px;
  background: none;
}

body footer .slide:hover::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #fff;
}

body footer .slide::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  width: 0px;
  height: 0px;
}

body footer .player-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  height: 5px;
  width: 700px;
  background-color: #535353;
  overflow: hidden;
}

body footer .player-bar .music-bar {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: #fff;
}

body footer .player-bar:hover .music-bar {
  background-color: #1db954;
}

body footer .volume-bar {
  width: 84px;
}

body footer .volume-bar .progress-bar .progress {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  width: 84px;
}

body footer .volume-bar .progress-bar .slide.volume {
  width: 100%;
  max-width: 84px;
}

body footer .volume-bar .progress-bar:hover .progress {
  background-color: #1db954;
}

@-webkit-keyframes rise {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0) scale(1.01);
  }
}

@keyframes rise {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0) scale(1.01);
  }
}
/*# sourceMappingURL=style.css.map */