body {
    background-color: #121212;
}

a {
    text-decoration: none !important;
}

button {
    outline: none !important;
    box-shadow: none !important;
}

::-webkit-scrollbar {
    width: 16px;
}

::-webkit-scrollbar-thumb {
    background-color: hsla(0,0%,100%,.3);
}

.nav-bar .navbar-nav .nav-item a:hover, 
.root-list-item:hover, 
.play-list-scroll li a:hover,
.navbar-footer a:hover {
    opacity: 1;
}
.root {
    height: 100vh;
    position: relative;
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: auto 1fr;
    grid-template-areas: 
        "navbar main-view main-view" 
        "player player player";
}

.nav-bar {
    grid-area: navbar;
    background-color: rgba(0, 0, 0, .8);
    width: 230px;
    min-height: 0;
    flex: 1;
}

.top-bar {
    grid-area: main-view;
    height: 60px;
    z-index: 2;
}

.main {
    grid-area: main-view;
    flex: 1;
    height: 100%;
    min-height: 0;
    overflow-y: scroll;
}

.main .margin-top {
    position: sticky;
    top: 0;
    height: 60px;
}

.main .main-container {
    padding: 16px 32px;
    flex: 1;
    min-height: 0;
}

.player {
    grid-area: player;
    background-color: #181818;
    height: 90px;
}

.nav-bar-header .logo {
    width: 131px;
    max-height: 40px;
    width: 79%;
}

.nav-bar .navbar-nav {
    padding: 0 8px;
}

.nav-bar .navbar-nav .nav-item a {
    border-radius: 4px;
    padding: 0 16px;
    height: 40px;
    color: #fff;
    opacity: .6;
    font-weight: 500;
}

.nav-bar .navbar-nav .nav-item.active a {
    background-color: #282828;
    opacity: 1;
}

.nav-bar .navbar-nav .nav-item img {
    font-size: 22px;
    margin-right: 16px;
}

.root-list {
    flex: 1;
    min-height: 0;
}

.root-list .root-list-header h2 {
    font-size: 14px;
    color: #b3b3b3;
    text-decoration: uppercase;
    letter-spacing: .16em;
    margin-left: 24px;
    margin-bottom: 12px;
}

.root-list-item {
    padding: 5px 24px;
    color: #fff;
    opacity: .6;
    font-weight: 500;
    cursor: pointer;
}

.root-list-icon {
    width: 32px;
    height: 32px;
    background-color: #fff;
    margin-right: 16px;
}

.root-list-icon.heart {
    background: linear-gradient(135deg, #450af5, #c4efd9);
}

.root-list-divider {
    margin: 8px 24px;
    background-color: #282828;
    border: none;
    height: 1px;
}

.play-list-scroll {
    padding: 8px 24px !important;
}

.play-list-scroll li a {
    color: #fff;
    opacity: .6;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    height: 32px;
}

.navbar-footer {
    background-color: #000;
}

.navbar-footer a {
    padding: 5px 24px;
    color: #fff;
    opacity: .6;
    height: 40px;
}

.navbar-footer a img {
    padding-right: 16px;
} 

.top-bar header {
    padding: 16px 48px 16px 32px;
}

.top-bar header .icons-action-left button {
    margin-right: 2px;
    border: none;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    color: #fff;
    background-color: rgba(0,0,0, .7);
}

.top-bar .menu .avatar {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    object-fit: cover;
}

.top-bar .menu button {
    border-radius: 23px;
    height: 32px;
    border: none;
    color: #fff;
    padding: 2px;
    background-color: rgba(0,0,0, .7);
}

.top-bar .menu:hover > .dropdown-menu, .top-bar .menu:hover > button {
    display: block;
    background-color: #282828;
}

.top-bar .menu button:hover {
    background-color: #282828;
}

.top-bar .menu button span {
    margin-left: 8px;
    font-weight: 700;
    font-size: 12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 110px;
}

.top-bar .menu .dropdown-menu {
    background-color: #282828;
    margin-top: 8px;
    box-shadow: 0 4px 4px rgba(0,0,0, .7);
    border-radius: 4px;
    border: 1px solid rgba(0,0,0, .1);
}

.top-bar .menu .dropdown-menu .dropdown-item {
    color: #fff;
    opacity: .6;
    padding: 3px 20px;
    line-height: 32px;
}

.top-bar .menu .dropdown-menu .dropdown-item:hover {
    opacity: 1;
    background-color: #333;
}

.top-bar .menu .dropdown-menu .dropdown-divider {
    height: 0;
    border-top: 1px solid #404040;
    margin: 0;
}

.main .title {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -.04em;
    color: #fff;
}